control.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Control">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="Name" minOccurs="0" type="xs:string" />
                <xs:element name="Description" minOccurs="0" type="xs:string" />
                <xs:element name="ControlType" minOccurs="0" type="xs:string" />
                <xs:element name="ControlPath" minOccurs="0" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>